{% extends 'baseViewTheatre.html.twig' %}

{% block title %}Détails de {{ theatre.nom }}{% endblock %}

{% block body %}

{{parent()}}

<div class="container">
    <div class="container">
        {{ include('theatre/viewouvreurs.html.twig', {ouvreurs_list: ouvreurs}) }}
    </div>
    <a href="/admin/editTheatre/{{ theatre.id }}">Modifier</a> <br>
    <a href="{{ path('app_confirm_delete_theatre', {'id': theatre.id}) }}" class="btn btn-danger">Supprimer</a>
</div>

{% endblock %}
