{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{{parent()}}
<style>
    body{
        background-color: #FF4130 !important;
    }
</style>

<div class="example-wrapper">

    <div class="container">
        {{ include('admin/viewtheatres.html.twig', {theatres_list: theatres}) }}
    </div>

    <br>

    <a href="{{path('app_add_admin')}}">Ajouter un Administrateur</a>

    <br>

    <a href="{{path('app_add_theatre')}}">Ajouter un Theatre</a>

    <br>

    <a href="{{path('app_logout')}}">Se deconnecter</a>
</div>
{% endblock %}
